/*
   dxEdStr.rc
   Developer Express Visual Component Library
   Express inplace editors strings resource
*/

STRINGTABLE
{
  //dxGrClms strings
  38901, "Да"
  38902, "Нет"
  38903, "Сегодня"
  38904, "Очистить"

  // blob edit buttons
  38905,  "&OK"
  38906,  "&Отмена"
  38907,  "&Закрыть"

  38908,  "Вы&резать"
  38909,  "&Копировать"
  38910,  "&Вставить"
  38911,  "&Удалить"
  38912,  "&Сохранить в файл..."
  38913,  "&Загрузить из файла..."

  38914,  "Вы&резать"
  38915,  "&Копировать"
  38916,  "&Вставить"
  38917,  "&Удалить"
  38918,  "&Загрузить..."
  38919,  "&Сохранить..."

  38920,  "Вырезать"
  38921,  "Копировать"
  38922,  "Вставить"
  38923,  "Удалить"
  38924,  "Загрузить из файла..."
  38925,  "Сохранить в файл..."

  38926,  "Инструменты"

  38927,  "Ошибочная дата"

  38928,  "СЕГОДНЯ"
  38929,  "ВЧЕРА"
  38930,  "ЗАВТРА"
  38931,  "ВОСКРЕСЕНЬЕ"
  38932,  "ПОНЕДЕЛЬНИК"
  38933,  "ВТОРНИК"
  38934,  "СРЕДА"
  38935,  "ЧЕТВЕРГ"
  38936,  "ПЯТНИЦА"
  38937,  "СУББОТА"
  38938,  "ПЕРВЫЙ"
  38939,  "ВТОРОЙ"
  38940,  "ТРЕТИЙ"
  38941,  "ЧЕТВЕРТЫЙ"
  38942,  "ПЯТЫЙ"
  38943,  "ШЕСТОЙ"
  38944,  "СЕДЬМОЙ"
  38945,  "НАЧ.МЕС."
  38946,  "КОН.МЕС"
  38947,  "СЕЙЧАС"

  38948, "Неправильный формат данных. Нажмите Esc для отмены редактирования"

  38949, "&Undo"
  38950, "&Redo"
  38952, "Вы&резать"
  38953, "&Копировать"
  38954, "&Вставить"
  38955, "&Удалить"
  38956, "Выбрать &все"
}

