SONG1 wave "Music\01. Bit Shifter - Chase Init.wav"
SONG2 wave "Music\02. Bit Shifter - Activation Theme.wav"
SONG3 wave "Music\03. Bit Shifter - Hexadecimal Genome.wav"
SONG4 wave "Music\04. Bit Shifter - Particle Charge.wav"
SONG5 wave "Music\05. Bit Shifter - Reformat The Planet.wav"
SONG6 wave "Music\06. Bit Shifter - The Information Chase.wav"
SONG7 wave "Music\07. Bit Shifter - Time Machine Go.wav"

